* @gobbleturk @khatwanimohit @bvandermoon @vipannalla @RissyRan @richjames0 @gagika @shralex @yangyuwei @SurbhiJainUSC @hengtaoguo @A9isha @aireenmei @NuojCheng

# Features
src/maxtext/experimental/rl @A9isha @khatwanimohit @gagika @richjames0
src/maxtext/input_pipeline @aireenmei @SurbhiJainUSC @richjames0
src/maxtext/kernels/megablox @RissyRan @michelle-yooh @gagika @richjames0
src/maxtext/kernels/ragged_attention.py @patemotter @vipannalla @richjames0
src/maxtext/layers/pipeline.py @gobbleturk @richjames0
src/maxtext/layers/moe.py @RissyRan @michelle-yooh @gagika @richjames0
src/maxtext/layers/multi_token_prediction.py @parambole @RissyRan @gagika @richjames0
src/maxtext/elastic_train.py @lukebaumann @shauryagup @RoshaniN
src/maxtext/layers/quantizations.py @khatwanimohit @jshin1394 @liudangyi @richjames0

# Inference
src/maxtext/tests/inference @vipannalla @mitalisi @gpolovets1 @mailvijayasingh @jrplatin @patemotter @lumosis @richjames0
src/maxtext/inference @vipannalla @mitalisi @gpolovets1 @mailvijayasingh @jrplatin @patemotter @lumosis @richjames0
src/maxtext/inference_mlperf @vipannalla @mitalisi @gpolovets1 @mailvijayasingh @jrplatin @patemotter @lumosis @richjames0

# Dockerfiles and dependencies
*.Dockerfile @bvandermoon @yangyuwei @parambole @richjames0
*.txt @bvandermoon @yangyuwei @parambole @richjames0

# Workflow files
.github/workflows @gobbleturk @khatwanimohit @shralex @parambole @richjames0
